main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  padding-inline: var(--padding-main);



  & .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 1rem;
  }

  img {
    max-width: 20.5rem;
    max-height: 20.5rem;
    object-fit: cover;
  }
  
}

/* DESKTOP */
@media only screen and (min-width: 80rem) {

  :root { 
    --padding-main-footer: 2rem;

  }

  main {
    & .container {
      max-width: 76rem;
      gap: 1.5rem;
    }

    & img {
      width: 17.875rem;
      height: 17.875rem;

    }
  }


}